@import 'variables';
@import 'mixins';

*{
    margin: 0;
    padding: 0;
}

/*Coniguración body*/
body{
    background-image:url(../img/dsm.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.grid-body{
    display: grid;
    height: 100vh;
    grid-template-rows: auto auto 8vh;
    margin: auto;
}
.grid-body-2{
    display: grid;
    grid-template-rows: auto auto 8vh;
    gap: 2vh;
    margin: auto;
}
/*Configuración header*/
.grid-header{
    display: grid;
    max-height: 25vh;
}
nav{
    text-align: center;
}
    .flex-container-nav{
        display: flex;
        flex-direction: column;
        align-content: space-between;
        margin-top: auto;
        margin-bottom: auto;
        padding: 6px;
        .logo{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            height: 7vh;
            width: auto;
            margin-top: 2px;
        }
        .menu{
            align-items: baseline;
            justify-content: center;
            margin: 8px 0px 8px 0px;
            display: flex;
            flex-wrap: wrap;
            li{
                padding: 0 4px 0 4px;
                margin: 6px;
                display: inline;
                font-family: $font;
                font-size: 18px;
                a{
                    text-decoration: none;
                    color:map-get($color-map,grey);
                }
            }
        }
    }
/*Configuración main*/
.grid-main{
    display: grid;
}
/*Configuración título y contenido*/
.title2{
    width: 50vw;
    padding: 12px;
    margin: 12px auto 0 auto;
    font-family: $font;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    color:map-get($color-map,grey);
    background-color: map-get($color-map,black);
    border: 2px solid map-get($color-map, grey-a);
    border-bottom: 0px;
    border-radius: 8px 8px 0px 0px;
}
.content{
    @include sizes(70vw, auto);
    margin:auto;
    padding: 32px;
    background-color: map-get($color-map,black);
    border: 2px solid map-get($color-map, grey-a);
    border-radius: 8px;
    color: map-get($color-map,grey);
    text-align: center;
    font-family: $font;
}
.content1{
    margin-top: 4px;
}
/*Configuración de Index*/
.flex-container-main-index{
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
}
.logoindex{
    @include sizes(280px,160px);
    order: 2;
}
.subtitle{
    color: map-get($color-map,grey);
    font-family: $font;
    font-size: 16px;
    font-weight: 300;
    order: 1;
    padding: 8px;
}
/*Configuración de discografía*/
table{
    width: 90vw;
    align-self: center;
    margin:auto;
    padding: 4px;
    background-color: map-get($color-map,black);
    border: 2px solid map-get($color-map, grey-a);
    border-radius: 8px;
    color: map-get($color-map,grey);
    text-align: center;
    font-family: $font;
}
thead tr td{
    font-size: 14px;
    font-weight: 500;
    padding: 8px ;
    border: 1px solid map-get($color-map, grey-a);
    background-color: map-get($color-map, black-a);
}
.table-image{
    @include sizes(80px,80px);
}
tbody tr td{
    font-size: 13px;
    font-weight: 300;
    padding: 4px;
    border: 1px solid map-get($color-map, grey-a);
    background-color: map-get($color-map, black-a);
}
/*Las siguientes clases para redondear la parte interna de la tabla*/
.td1{
    border-top-left-radius: 8px;
}
.td2{
    border-top-right-radius: 8px;
}
.td3{
    border-bottom-left-radius: 8px;
}
.td4{
    border-bottom-right-radius: 8px;
}
/*Configuración imágenes historia*/
.img-historia{
    width: 90%;
    height: auto;
    margin: 12px auto 12px auto;
}
/*Configuración de galería*/
.grid-gallery{
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    row-gap: 2vh ;
    column-gap: 2vw;
}
.grid-gallery-item{
    display: grid;
    width: 40vw;
    height: auto;
    justify-self: center;
    align-self: center;
}
.grid-gallery-item1{
    width: 30vw;
}
.subtitle-gallery{
    padding-bottom: 4vh;
    font-weight: 500;
}
/*Configuración de contacto*/
.flex-container-main-contact{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.contact{
    width: 40vh;
    margin:0 auto 0 auto;
    padding: 16px 32px 16px 32px;
    background-color: map-get($color-map,black);
    border: 2px solid map-get($color-map, grey-a);
    border-radius: 8px;
    color: map-get($color-map,grey);
    text-align: center;
    font-family: $font;
    font-weight: 500;
}
.subtitle-contact{
    font-weight: 500;
}
.input{
    margin: 6% auto 6% auto;
    padding: 2px;
    border-radius: 8px;
    font-family: $font;
}
.submit{
    padding: 4px;
    border-radius: 8px;
    font-family: $font;
}
/*footer*/
/*Lo mismo que hice con el nav superior lo apliqué al footer*/
.grid-footer{
    display: grid;
}
.flex-container-footer{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    .copyright{
        text-align: center;
        padding: auto auto 8px 4px;
        color: map-get($color-map, grey-a);
        font-family: $font;
        font-size: 12px;
        font-weight: 400;
    }
    .socialmedia{
        text-align: center;
        .logosm{
            width: 32px;
            height: auto;
            padding: 8px;
        }
    }
}
/*Configuración de vista web*/
@media screen and (min-width:768px){
    /*Configuración de header*/
    .grid-header{
        display: grid;
        height: 12vh;
        max-height: 20vh;
    }
    .flex-container-nav{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-top: auto;
        margin-bottom: auto;
        padding: 6px;
        .logo{
            height: 9vh;
            width: auto;
            margin: 8px 0px 8px 16px;
            display: inline;
        }
        .menu{
            margin: 16px 8px 8px 0px;
            li{
                padding: 8px;
                margin: 8px;
                display: inline;
                font-family: $font;
                font-size: 22px;
                a{
                    text-decoration: none;
                    color:map-get($color-map,grey);
                }
            }
        }
    }
    /*Animaciones nav*/
    #linknav1:hover{
        margin: auto;
        padding: 7px;
        transition: .25s;
        color: rgba(252, 17, 17, 0.8);
    }
    #linknav2:hover{
        @extend #linknav1:hover;
        color: rgba(255, 255, 50, 0.8);
    }
    #linknav3:hover{
        @extend #linknav1:hover;
        color: rgba(38, 218, 38, 0.8);
    }
    #linknav4:hover{
        @extend #linknav1:hover;
        color: rgba(81, 185, 255, 0.8);
    }
    #linknav5:hover{
        @extend #linknav1:hover;
        color: rgba(138, 47, 223, 0.9);
    }
    /*Configuración body*/
    .grid-body{
        display: grid;
        height: 100vh;
        grid-template-rows: 9vh 82vh 8vh;
    }
    .grid-body-2{
        display: grid;
        grid-template-rows: 10vh auto 8vh;
    }
    /*Animaciones logos*/
    .logo:hover, .logosm:hover{
        transform: scale(1.06);
        transition: .25s;
    }
    .logoindex{
        @include sizes(auto,26vh);
    }
    .socialmedia{
        margin: 2px;
    }
    /*Configuracion título y contenido*/
    .title2{
        width: 240px;
        padding: 12px;
        margin: 20px auto 0 auto;
        font-family: $font;
        font-size: 30px;
        font-weight: 500;
        text-align: center;
        color:map-get($color-map,grey);
        background-color: map-get($color-map,black);
        border: 2px solid map-get($color-map, grey-a);
        border-bottom: 0px;
        border-radius: 8px 8px 0px 0px;
    }
    .content{
        width: 60vw;
        margin:auto;
        padding: 32px;
        background-color: map-get($color-map,black);
        border: 2px solid map-get($color-map, grey-a);
        border-radius: 8px;
        color: map-get($color-map,grey);
        text-align: center;
        font-family: $font;
        margin-bottom:2px;
    }
    /*Configuración imágenes historia*/
    .img-historia{
        width: 85%;
        height: auto;
        margin: 16px auto 16px auto;
    }
    /*Configuración discografía*/
    table{
        width: 70vw;    
        .table-discography{
            margin:auto 20vw auto 20vw;
            padding: 8px;
            background-color: map-get($color-map,black);
            border: 2px solid map-get($color-map, grey-a);
            border-radius: 8px;
            color: map-get($color-map,grey);
            text-align: center;
            font-family: $font;
            thead tr td{
                font-size: 20px;
                font-weight: 500;
                padding: 12px ;
                border: 1px solid map-get($color-map, grey-a);
                background-color: map-get($color-map, black-a);
            }
            tbody tr td{
                font-size: 16px;
                font-weight: 300;
                padding: 6px 12px 6px 12px;
                border: 1px solid map-get($color-map, grey-a) ;
                background-color: map-get($color-map, black-a);
            }
        }
    }
    /*Configuración galería*/
    .grid-gallery{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        row-gap: 2vh ;
        column-gap: 2vw;
        align-items: center;
    }
    .grid-gallery-item{
        display: grid;
        width: 75%;
        height: auto;
        justify-self: center;
        align-self: center;
    }
    .grid-gallery-item1{
        width: 60%;
    }
    /*Configuración de título*/
    .title2{
        margin: 1rem auto 0 auto;
        width: 15rem;
    }
    /*Contacto*/
    .grid-main-contact{
        height: 77vh;
    }
    .contact{
        height: 35vh;
    }
    /*Configuración footer*/
    .grid-footer{
        display: grid;
    }
    .flex-container-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        .logosm{
            width: 32px;
            height: auto;
            padding: 8px;
            .socialmedia{
                text-align: center;
            }
        }
    }
}